.product-card {
    display: flex;
    width: 600px;
    margin: auto;
}

.product-image {
    object-fit: cover;
    width: 286px;
    margin-right: 20px;
    border: 1px solid #1AA2B0;
    border-radius: 10px;
}

.product-details {
    flex: 1;
    text-align: left;
}

.product-card h1 {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.product-card h1 span {
    height: 15px;
    margin-bottom: 0px;
    padding: 0 8px;
    background-color: #1AA2B0;
    border-radius: 64px;
    font-size: 10px;
    font-weight: 600;
    color: white;
    line-height: 1.5;
}

.product-card h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    color: inherit;
}

.product-card h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.product-card p {
    font-size: 14px;
    color: white;
}
