.dropdown-container {
    text-align: center;
}
  
.dropdown {
    color: #1AA2B0;
    background-color: #151420;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
}
