.dropdown {
    position: relative;
    margin: auto;
    width: 600px;
    height: 60px;
    border: 1px solid #1AA2B0; 
    border-radius: 6px;
    background-color: #1E1D2D;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin-bottom: 200px;
    margin-top: 200px
}

.dropdown-list {
    background-color: #1E1D2D;
    width: 600px;
    height: 60px;
    border-radius: 6px;
    background: url('../assets/Polygon\ 1.svg') no-repeat;
    background-size: 20px; 
    background-position: calc(100% - 40px) center;
    background-position-y: 24px;
    padding-left: 20px; 
    padding-top: 20px;
    text-align: left;
}

.options {
    margin-top: -16px;
    line-height: 30px;
    padding-top: 20px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    background-color: #1E1D2D;
    border: 1px solid #1AA2B0;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    overflow: auto;
    max-height: 400px;
}

.options.show {
    display: flex;
}

.option {
    padding: 10px;
}

.option:hover {
    color: white;
}

